/***** BASE STYLES *****/
body{
  background: #ffffff;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}

.half-width {
	float: left;
	width: 600px;
}

.third-width {
	float: left;
	width: 390px;
  height: 174px;
  padding-top: 20px;
  padding-bottom: 40px;
}

/***** HEADER *****/

header h1 {
  font-size: 30px;
  line-height: 23px;
  color: black;
  padding: 42px 0 42px 0
}

header h1 span {
    color: #77a466;
}

nav {
    float: right;
    padding: 46px 0 46px 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
  font-size: 14px;
  line-height: 23px;
  font-weight: bold;
  color: #77a466;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 15px;
}

/***** TOP SECTION *****/

#top-section .full-width{
  padding: 27px 0 20px 0px;
}

#top-section img{
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
}

#top-section h2 {
  text-transform: uppercase;
  color: #77a466;
  line-height: 23px;
}

#top-section p{
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

/***** BOTTOM SECTION *****/

#bottom-section .full-width {
  border-top: 3px solid #dedbdc;
  border-bottom: 3px solid #dedbdc;

}

#bottom-section .bordergray{
  border-left: 3px solid #dedbdc;
  border-right: 3px solid #dedbdc;
}

#bottom-section h3 {
  line-height: 25px;
  text-transform: uppercase;
  font-size: 12px;
}

#bottom-section .margin{
  margin-left: 20px;
}

#bottom-section p{
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-right: 20px;
  padding-right: 20px;
}

#bottom-section .green{
  color: #77a466;
}

#bottom-section .address{
  font-size: 16px;
  display: block;
  line-height: 150%;
  margin-left: 20px;
}

/***** FOOTER *****/

#footer h2{
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  margin: 30px 0 10px 0;
  padding: 3px;
}

#footer span{
  font-family: Galada, cursive;
  font-size: 16px;
  line-height: 23px;
  color: #77a466;
}
